*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-weight: 700;
    color: #333;
}

main .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

#input-container {
    width: 100%;
    text-align: center;
}

#input-container label p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #555;
}

#input-container input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}

#results-container {
    width: 100%;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-top: 20px;
}

#results-div {
    margin-top: 10px;
    font-size: 16px;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

#buttons-container button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

#buttons-container button:hover {
    background-color: #0056b3;
    cursor: pointer;
}
